.container-status {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #1e1e1e; 
    margin-top: 30px;
    padding-bottom: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 20px;
    color: #fff;
    margin: 0;
}

.add-btn {
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #2d3a53;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.add-btn:hover {
    background-color: #181a1b;
}

.table-wrapper {
    overflow-x: auto;
}

.status-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #312d53;
    color: #F8FCFF;
    border-radius: 8px;
}

.status-table th,
.status-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.status-table th {
    background-color: rgba(200, 200, 200, 0.2);
    color: #fff;
}

.status-table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05);
}

.status-table tr:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.edit-btn, .delete-btn {
    padding: 8px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-btn {
    background-color: #008CBA;
    color: white;
}

.delete-btn {
    background-color: #f44336;
}

.edit-btn:hover {
    background-color: #007bb5;
}

.delete-btn:hover {
    background-color: #d32f2f;
}

.edit-btn a, .delete-btn a {
    color: white;
    text-decoration: none;
}
